html {
    height: 100%;
}
body {
    height: 100%;
}

.container {
    background-color: rgba(210, 180, 140, 0.514);
    width: 500px;
    margin: 20px auto;
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    box-shadow: 30px 30px 0 0px rgba(139, 69, 19, 0.13);
}

.scene {
    width: 200px;
    height: 200px;
    perspective: 1000px;
    padding: 100px 0;
    margin: 0 auto;
}

.cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: 1s;
    font-weight: 500;
}

.cube__face {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cube__face--front {
    background-color: rgba(245, 222, 179, 0.459);
    transform: rotateY(0deg) translateZ(100px);
}

.cube__face--back {
    background-color: rgba(127, 255, 212, 0.425);
    transform: rotateY(180deg) translateZ(100px);
}

.cube__face--right {
    background-color: rgba(128, 128, 128, 0.473);
    transform: rotateY(90deg) translateZ(100px);
}

.cube__face--left {
    background-color: rgba(153, 205, 50, 0.404);
    transform: rotateY(-90deg) translateZ(100px);
}

.cube__face--top {
    background-color: rgba(255, 99, 71, 0.411);
    transform: rotateX(90deg) translateZ(100px);
}

.cube__face--bottom {
    background-color: rgba(184, 135, 11, 0.513);
    transform: rotatex(-90deg) translateZ(100px);
}

#front:checked ~ .scene .cube {
    transform: rotateY(0deg) rotateX(0deg);
}

#right:checked ~ .scene .cube {
    transform: rotateY(-90deg) rotateX(0deg);
}

#back:checked ~ .scene .cube {
    transform: rotateY(-180deg) rotateX(0deg);
}

#top:checked ~ .scene .cube {
    transform: rotateY(0deg) rotateX(-90deg);
}

#left:checked ~ .scene .cube {
    transform: rotateY(90deg);
}

#bottom:checked ~ .scene .cube {
    transform: rotateX(90deg);
}

label {
    display: inline-block;
    height: 30px;
    width: 70px;
    background-color: rgba(255, 85, 85, 0.623);
    border-radius: 5px;
    text-align: center;
    line-height: 25px;
    border: 2px solid black;
}

input {
    display: none;
  
}